In [176]:
# "predict median for that building&meter, for that day of week"

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("../input/ashrae-energy-prediction/train.csv")

In [177]:
# add day of week and day of year

df["timestamp"] = pd.to_datetime(train["timestamp"])
df['dayofweek'] = df["timestamp"].dt.dayofweek
df['dayofyear'] = df["timestamp"].dt.dayofyear

df.sample(n=10, random_state=42)

,building_id,meter,timestamp,meter_reading,dayofweek,dayofyear
14245562,1324,1,2016-09-16 16:00:00,0.0000,4,260
1282718,1013,0,2016-01-24 06:00:00,32.0001,6,24
13883790,229,1,2016-09-10 07:00:00,567.6550,5,254
4781820,217,3,2016-04-01 01:00:00,0.0000,4,92
10415393,1434,0,2016-07-10 04:00:00,65.7500,6,192
1057008,1047,0,2016-01-20 04:00:00,90.9833,2,20
4507399,911,1,2016-03-26 20:00:00,295.0640,5,86
19478829,1039,0,2016-12-18 23:00:00,16.9000,6,353
8955615,265,0,2016-06-14 06:00:00,128.3700,1,166
13799839,896,0,2016-09-08 19:00:00,300.0000,3,252

In [184]:
# sum each day for meters 
# (note we might want to look at imputing missing values)

df_sum = df.groupby(['building_id','meter','dayofyear','dayofweek',]).sum()
df_sum.reset_index(inplace=True)
df_sum.loc[df_sum['building_id'] == 1047]

        building_id  meter  dayofyear  dayofweek  meter_reading
543112         1047      0          1          4      2272.2535
543113         1047      0          2          5      4853.8555
543114         1047      0          3          6      5005.9532
543115         1047      0          4          0      4581.4444
543116         1047      0          5          1      3687.0178
543117         1047      0          6          2      3923.4404
543118         1047      0          7          3      3073.0035
543119         1047      0          8          4      2582.7300
543120         1047      0          9          5      3397.1142
543121         1047      0         10          6      2541.9870
543122         1047      0         11          0      4230.9262
543123         1047      0         12          1      4581.4237
543124         1047      0         13          2      4655.5610
543125         1047      0         14          3      4626.7257
543126         1047      0         15          4      4496.8020
543127         1047      0         16          5      2703.5429
543128         1047      0         17          6      2467.1792
543129         1047      0         18          0      4766.6572
543130         1047      0         19          1      4660.0529
543131         1047      0         20          2      4574.7663
543132         1047      0         21          3      4652.7737
543133         1047      0         22          4      4454.4609
543134         1047      0         23          5      2770.4168
543135         1047      0         24          6      3118.6139
543136         1047      0         25          0      4948.4498
543137         1047      0         26          1      4966.6181
543138         1047      0         27          2      4981.7463
543139         1047      0         28          3      4881.7110
543140         1047      0         29          4      4674.7886
543141         1047      0         30          5      3175.8178
...             ...    ...        ...        ...            ...
543448         1047      0        337          4      4602.5424
543449         1047      0        338          5      2997.5115
543450         1047      0        339          6      4976.5209
543451         1047      0        340          0      4852.8590
543452         1047      0        341          1      1748.3577
543453         1047      0        342          2      3528.1817
543454         1047      0        343          3      3383.7815
543455         1047      0        344          4      4071.2028
543456         1047      0        345          5      4351.8700
543457         1047      0        346          6      2701.7920
543458         1047      0        347          0      4380.7237
543459         1047      0        348          1      4428.5675
543460         1047      0        349          2      4377.6359
543461         1047      0        350          3      4291.7687
543462         1047      0        351          4      4210.2423
543463         1047      0        352          5      3126.9653
543464         1047      0        353          6      3042.7367
543465         1047      0        354          0      4136.2817
543466         1047      0        355          1      4167.7573
543467         1047      0        356          2      4316.0270
543468         1047      0        357          3      2996.5112
543469         1047      0        358          4      1492.9225
543470         1047      0        359          5      1450.1925
543471         1047      0        360          6      1484.7600
543472         1047      0        361          0      1422.2425
543473         1047      0        362          1      1422.7000
543474         1047      0        363          2      1423.3025
543475         1047      0        364          3      1444.9625
543476         1047      0        365          4      1596.5750
543477         1047      0        366          5      1581.5475

[366 rows x 5 columns]

In [191]:
# for each day for of the week find the median value for the year

df_med = df_sum.groupby(['building_id','meter','dayofweek']).median()
df_med.reset_index(inplace=True)
df_med.drop(['dayofyear'], axis=1, inplace=True)


df_med.loc[df_med['building_id'] == 1047]

       building_id  meter  dayofweek  meter_reading
10577         1047      0          0     4266.57800
10578         1047      0          1     4155.65280
10579         1047      0          2     4240.38520
10580         1047      0          3     4284.91135
10581         1047      0          4     4088.15200
10582         1047      0          5     3115.20210
10583         1047      0          6     3096.51975

AttributeError: 'DataFrame' object has no attribute 'get_dummies'

In [193]:
# Split fit and predit
X_train, X_test, y_train, y_test = train_test_split(
    df_med.drop('meter_reading', axis=1), df_med['meter_reading'], 
    test_size=0.33, random_state=42)

dummy_mean = DummyRegressor(strategy='mean')

reg = LinearRegression().fit(X_train, y_train)
predict_median = reg.predict(X_test)
print(predict_median)

# calcuate error, which looks really high
mean_absolute_error(y_test, predict_median)

[ 2224.15942146  4732.53964449  5160.0135883  ...  4145.33859132
 13482.45804061  6744.70421004]

10294.006557998733